<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br /><br />
      <h2>From California to The World</h2>
      <br />
      <p>
        With most of the kids having grown since childhood in Aptos California,
        you can now find members of the family spread across the U.S. Having
        been built on strong foundations, each of the Sullivans are currently
        pursuing their passions and dreams in their own domains.
      </p>
      <br />
    </div>
  </div>
</section>